<html>
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>	
<div class="mapa">
		<div class="container">
			<div th:replace="~{base :: titulo('Login')}"></div>
	
			<div class="card mt-3">
				<form  class="card-body"  th:action="@{/login}" method="POST">
					<div class="form-group">
						<label for="username">Usuario</label>
						<input  id="username" name="username" class="form-control" placeholder="usuario"/>
						<small>Informe o nome de usuario.</small>
		
					</div>
					<div class="form-group">
						<label for="password">Senha</label>
						<input type="password" name="password" id="password" class="form-control" placeholder="senha"/>
						<small>Digite sua senha</small>
					</div>	
					<button class="btn btn-primary" type="submit">Login</button>
				</form>
			</div>
		</div>
	</div>
	
			 <footer>
		   	  <div th:replace="~{base :: rodape}"></div>	
		   	
		   	  
		   </footer>
	</body>
</html>